<!-- https://codepen.io/piyushpd/pen/gOYvZPG -->

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    <title>Responsive Nav</title>

<body>
    <header>
        <figure class="brand"><a href="../../app/">Home</a></figure>
        <nav class="menu">
            <input type="checkbox" id="menuToggle">
            <label for="menuToggle" class="menu-icon"><i class="fa fa-bars"></i></label>
            <ul>
                
                <a href="../homehistory/"><li>History</li></a>
                <a href="../kiasmademo/"><li>Museum</li></a>
                <a href="../alueet/"><li>Districs</li></a>
                <a href="../restaurants/"><li>Restaurants</li></a>
                <a href="../gallery/"><li>Photo gallery</li></a>
                <a href="#"><li>Tour advice videos</li></a>
            </ul>
        </nav>
    </header>
</body>


  
  
  
  