
<div class="wrapper">
    <header class="header">Here a links to popular museos in Helsinki</header>
    <nav class="navigationbar">
        <ol class="numbers">
            <li><a href="https://kiasma.fi/"target="_blank" rel="noopener noreferrer"><li>Kiasma</li></a></li>
            <li><a href="/alueet"target="_blank" rel="noopener noreferrer"><li>Aluuet</li></a></li>
            <li>Kolmas</li>
            <li>Neljäs</li>
            <li>Viides</li>
            <li>Kuudes</li>
        </ol>
    </nav>
