<article>
    <h4>Popular restaurants in Helsinki</h4>
</article>


<nav>
    <ul class="menu">
        <li><a href="https://www.unicafe.fi/"target="_blank" rel="noopener noreferrer"><li>UNICAFE</li></a></li>

        <li><a href="https://www.levain.fi/"target="_blank" rel="noopener noreferrer"><li>LEVAIN</li></a></li>

        <li><a href="http://www.lonna.fi/en/services/restaurant/"target="_blank" rel="noopener noreferrer"><li>LONNA</li></a></li>

        <li><a href="http://www.kamome.fi/"target="_blank" rel="noopener noreferrer"><li>KAMOME</li></a></li>

        <li><a href="https://www.restaurantnolla.com/"target="_blank" rel="noopener noreferrer"><li>NOLLA</li></a></li>
    </ul>
</nav>