<article>
    <p>The town of Helsinki was founded by King Gustavus Vasa of Sweden (which Finland belonged to for many centuries) as a new trading post in southern Finland and a competitor to Tallinn in Estonia, the Hanseatic city on the opposite shore of the Gulf of Finland. The King then ordered the burghers of <a href="http://www.rauma.fi/">Rauma</a>, <a href="http://www.ulvila.fi/">Ulvila</a>, <a href="http://www.porvoo.fi/">Porvoo</a> and <a href="http://en.raseborg.fi/">Tammisaari </a>to move to Helsinki; the date on which this order was issued, 12.6.1550, is regarded as the date on which the city was founded.</p>
</article>

