

<article>
    <h4>Helsinki History</h4>
    
    <p>Helsinki was founded by Swedish King Gustav in 1550 to compete with the then, fast-growing, trading city of Reval (now Tallinn, Estonia). The king ordered dwellers to transfer to Helsinki from the neighbouring towns to maximize productivity and start-up the city.</p>
    <p>In 1809, Russia took control of Helsinki from the Swedish ruler. Due to its proximity to St. Petersburg, the then, already quite established Finnish capital Turku, lost its title to Helsinki. With a closer location to Russia for watch and control, and the defensive island of Sveaborg (now Suomenlinna), Helsinki was in the perfect position for their new planned cosmopolitan city.</p>
</article>

