<!-- https://codepen.io/piyushpd/pen/gOYvZPG -->

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    <title>Responsive Nav</title>

<body>
    <header>
        <figure class="brand"><a routerLink="/home/">Home</a></figure>
        <nav class="menu">
            <input type="checkbox" id="menuToggle">
            <label for="menuToggle" class="menu-icon"><i class="fa fa-bars"></i></label>
            <ul>
                <a routerLink="/homehistory/"><li>History</li></a>
                <a routerLink="/kiasmademo/"><li>Museum</li></a>
                <a routerLink="/restaurants/"><li>Restaurants</li></a>
                <a routerLink="/gallery/"><li>Gallery</li></a>
                <a routerLink="/alueet/"><li>Districs</li></a>
            </ul>
        </nav>
    </header>
</body>


  
  
  
  