<article>
    <h4>Popular districs in Helsinki</h4>
</article>
<body>
    <article class="container">
        <dl class="grid-config">
            <dt class="heading"><h1>Kruununhaka</h1></dt>
            <dd class="image">
                <img src="../../assets/kruna.jpg" alt="View of Helsinki">
            </dd>
            <dd class="text">
                <p>Kruununhaka became the area next to the harbour and the center, when Helsinki was moved from the earlier location in the mid-1660s. From the very beginning, the residents included city and state officials.</p>
                <p>Many buildings of the University of Helsinki are also situated in Kruununhaka. The area has become known for its vintage shops.</p>
            </dd>
        </dl>
        <dl class="grid-config reverse">
            <dt class="heading"><h1>Kluuvi</h1></dt>
            <dd class="image">
                <img src="../../assets/kluuvi.jpg" alt="View of Turku">
            </dd>
            <dd class="text">
                <p>Kluuvi is the commercial centre of Helsinki, Finland, and a neighbourhood in the Vironniemi district of Helsinki. The Helsinki Central railway station, Hotel Kämp and Hotel Arthur, the Helsinki main post office, the Stockmann and Sokos department stores, the Kluuvi shopping centre and the main offices of Finnish banks are located in Kluuvi. Kluuvi includes the central campus of the University of Helsinki, the Ateneum art museum, and the movie theatres Maxim, Kinopalatsi and Bristol. The northeastern part of Kluuvi, which includes the Kaisaniemi park, is commonly called Kaisaniemi, but it is not the official name of any neighbourhood in Helsinki.</p>
                <p>The official name of the neighbourhood is very seldom used in everyday speech, Helsinkians usually refer to the area as "the centre" (keskusta) or "the core centre" (ydinkeskusta).</p>
            </dd>
        </dl>
        <dl class="grid-config">
            <dt class="heading"><h1>Punavuori</h1></dt>
            <dd class="image">
                <img src="../../assets/punavuori.jpg" alt="View of Tampere">
            </dd>
            <dd class="text">
                <p>Punavuori is a neighbourhood in the center of Helsinki, the capital of Finland. The name Punavuori (English: Red mountain) refers to red cliffs located between Sepänkatu and Punavuorenkatu. They were still visible in the 19th century, nowadays they are covered with buildings and pavement. Punavuori was traditionally a working-class neighbourhood, today it is known as a bohemian district popular among artists, students and hipsters. It is one of the most densely populated areas in Finland.</p>
                <p>After the new location and growth of Helsinki in the 18th century, Punavuori became the area next to the center. During the 19th century the district had a seedy reputation. Most of the brothels and beerhouses were found in Punavuori. The social problems were aggravated by quickly built rent-apartments for the poor.</p>
            </dd>
        </dl>
    </article>

    <article class="container">
        <dl class="grid-config">
            <dt class="heading"><h1>Katajanokka</h1></dt>
            <dd class="image">
                <img src="..//../assets/skatta.jpg" alt="View of Helsinki">
            </dd>
            <dd class="text">
                <p>Katajanokka is a neighbourhood of Helsinki, Finland, with around 4000 inhabitants in 2005. The district is located adjacent to the immediate downtown area, though in the first major town plan for Helsinki from the mid-18th century, the area fell outside the fortifications planned to encircle the city. Originally, it was a headland of the Helsinki peninsula but is now technically an island, as a small canal was dug across the base of the headland in the 19th century. Katajanokka is one of the most distinguished neighbourhoods in Helsinki. Katajanokka's residents include former Finnish President (from 1982 to 1994) Mauno Koivisto and composer Einojuhani Rautavaara.</p>
            </dd>
        </dl>
        <dl class="grid-config reverse">
            <dt class="heading"><h1>Kaivopuisto</h1></dt>
            <dd class="image">
                <img src="..//../assets/kaivari.jpg" alt="View of Turku">
            </dd>
            <dd class="text">
                <p>Kaivopuisto offers several hectares of parks, both on flat ground, and on cliffs. The park also includes traces of stone fortifications built in the 18th century. Every summer, thousands of Helsinkians come to Kaivopuisto to sunbathe, to have picnics, or to hold sport. The largest hill in the park is a favoured slope for tobogganing during the winter.</p>
                <p>The height of Kaivopuisto's popularity is on Vappu day (1 May), immediately after the preceding Walpurgis Night celebrations in the city centre. On Vappu, Kaivopuisto is packed with tens of thousands of Helsinkians, who come to have a picnic with their friends and families. Fanciful costumes, loud music, and excessive consumption of alcoholic beverages is the routine for a Vappu picnic. It is customary for all attendants who have graduated from the Finnish matriculation exam to wear their student caps at the picnic. A yellowed student cap is taken as a sign of prestige.</p>
            </dd>
        </dl>
        <dl class="grid-config">
            <dt class="heading"><h1>Kallio</h1></dt>
            <dd class="image">
                <img src="../../assets/kallio.jpg" alt="View of Tampere">
            </dd>
            <dd class="text">
                <p>Kallio literally "the rock" is a district and a neighbourhood in Helsinki, the capital of Finland, located on the eastern side of the Helsinki peninsula about one kilometre north from the city centre. It is one of the most densely populated areas in Finland. Kallio is separated from the city centre by the Siltasaarensalmi strait, over which is a bridge called Pitkäsilta ("long bridge"). Traditionally, the bridge symbolizes the divide between the affluent centre and the more working class areas around Kallio.</p>
               
            </dd>
        </dl>
    </article>

    <article class="container">
        <dl class="grid-config">
            <dt class="heading"><h1>Etu-Töölö</h1></dt>
            <dd class="image">
                <img src="../../assets/etoolo.jpg" alt="View of Helsinki">
            </dd>
            <dd class="text">
                <p>Töölö  is the collective name for the neighbourhoods Etu-Töölö and Taka-Töölö in Helsinki, Finland. The neighbourhoods are located next to the city centre, occupying the western side of the Helsinki Peninsula.</p>
                <p>Etu-Töölö, the southern neighbourhood, borders Kamppi and is the location of the Finnish Parliament House. Taka-Töölö, the northern neighbourhood, borders Meilahti and Laakso, and is the location of the Helsinki University Central Hospital. Contrary to popular belief, Töölö is no longer an official name of any district or neighbourhood in Helsinki; in 1959 Töölö was divided into Etu-Töölö and Taka-Töölö.</p>
            </dd>
        </dl>
        <dl class="grid-config reverse">
            <dt class="heading"><h1>Taka-Töölö</h1></dt>
            <dd class="image">
                <img src="../../assets/ttoolo.jpg" alt="View of Turku">
            </dd>
            <dd class="text">
                <p>Etu-Töölö, the southern neighbourhood, borders Kamppi and is the location of the Finnish Parliament House. Taka-Töölö, the northern neighbourhood, borders Meilahti and Laakso, and is the location of the Helsinki University Central Hospital. Contrary to popular belief, Töölö is no longer an official name of any district or neighbourhood in Helsinki; in 1959 Töölö was divided into Etu-Töölö and Taka-Töölö.</p>
            </dd>
        </dl>
        <dl class="grid-config">
            <dt class="heading"><h1>Kaartinkaupunki</h1></dt>
            <dd class="image">
                <img src="../../assets/kk.jpg" alt="View of Tampere">
            </dd>
            <dd class="text">
                <p>Kaartinkaupunki consists of the area between the Esplanadi park and the Tähtitornin vuori park. Its area was first confirmed in 1812, but the neighbourhood was only named in 1959. It is neighbourhood number 3 in Helsinki, belonging to the Ullanlinna district and to the Southern main district. Kaartinkaupunki was named after the old Russian army barracks located near Kasarmitori. The oldest part of the barracks was built in 1822. It was originally built as a residence for the Helsinki training battalion, which later became the Guard of Finland.</p>
                <p>Kaartinkaupunki includes the Esplanadi park, the Helsinki Market Square, and the streets of Pohjois- and Etelä-Esplanadi. It does not include any of the buildings on Pohjoisesplanadi, because they belong to Kruununhaka or Kluuvi. One of the main streets in the area is Korkeavuorenkatu.</p>
            </dd>
        </dl>
    </article>
    
</body>
